**/*/readme-examples/
**/*/test/
*.d.ts.map
*.test-helper.*
*.test.*
*.tgz
.*
/Icon?
/configs/
/coverage/
/cspell.config.js
/graphics/
/src/
/www-static/
bash-scripts/
index.html
test-files/
tsconfig*.json