name: 'tagged-release'

on:
    push:
        tags:
            - 'v*'

jobs:
    tagged-release:
        name: 'Tagged Release'
        runs-on: 'ubuntu-latest'

        steps:
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - name: run test
              run: |
                  npm ci
                  npx playwright install --with-deps
                  npm run test:all
            - name: pack and set vars
              id: vars
              run: |
                  tagName="${GITHUB_REF#refs/*/}"
                  originalTarName="$(npm pack)"
                  packageNameWithoutFileExtension="${originalTarName%.tgz}"
                  tagNameWithoutV="${tagName##v}"
                  packageName="${packageNameWithoutFileExtension%-$tagNameWithoutV}"
                  newTarName="$packageName-$tagName.tgz"
                  mv "$originalTarName" "$newTarName"
                  echo ::set-output name=tarName::"$newTarName"

            - uses: 'marvinpinto/action-automatic-releases@latest'
              with:
                  repo_token: '${{ secrets.GITHUB_TOKEN }}'
                  prerelease: false
                  files: |
                      ${{ steps.vars.outputs.tarName }}
